<h1><%= "#{@person.full_name}" %></h1>

<% @person.courses.each do |course| %>
<h2><%= course.name %></h2>
<ul>
<% course.assignments.each do |a| %>
<li><%= a.description %></li>
<% end %>
</ul>



<% end %>
